/* style01是黑白的样式,.style01 span{}是 css里面空格表示元素里面的
.style01 span表示class 为style01元素里面的span  自己加：a 是超链接样式
*/
.style01 span {
  background-color: #000000;
  color: #ffffff;
}

.style01 a {
  background-color: #000000;
  color: #ffffff;
}

/* style02是彩色的样式 */
.style02 span {
  background-color: #ff0000;
  color: #ffff00;
  border: 2px solid #aa0000;
}


.style02 a {
  background-color: #ff0000;
  color: #ffff00;

}