
body {
  background: #ededed;
  color: #181818;
}


  


header {


 
  font-weight: bold;
  font-size: 1.2rem;

  
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  background-color: #ededed;
}

header>div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.5rem;
}

.mr {
  margin-right: 1.5rem;
}

main {
 
  margin-top: 2.6rem;
  background-color: #ffffff;
  padding-bottom: 4.7rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 10;
  background-color: #ededed;
}

footer>div {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0px;
  border-top: 1px solid #dcdcdc;
}



footer .iconfont {
  font-size: 2rem;
}

.active-icon {
  color: #08c261;
}


.line {
  display: flex;
}

.line .iconfont {
  font-size: 3rem;
}


.line>div:first-child {
  padding: 0.5rem;
}


.line>div:last-child {
  padding: 0.5rem;
  border-bottom: 1px solid #dcdcdc;
  flex: 1;
  
  line-height: 3rem;
  font-size: 1.2em;
}



.name {
  background-color: #ededed;
  color: #b2b2b2;
  padding: 0.5rem;
}


nav {
  position: fixed;
  right: 0px;
  top: 5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  z-index: 10;
 
  width: 1em;

}

.tc {
  text-align: center;
}

.border{
border: 4px solid rgb(236, 232, 232);
}














