body {
  background: #ededed;
  color: #181818;
}

header {


  /* 粗体 */
  font-weight: bold;
  font-size: 1.2rem;

  /* 固定在上方 */
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  background-color: #ededed;
}

header>div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.5rem;
}

.mr {
  margin-right: 1.5rem;
}

main {
  /* fixed定位会挡住相邻的元素，需要调整间距避开 */
  margin-top: 2.6rem;
  background-color: #ffffff;
  padding-bottom: 4.7rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 10;
  background-color: #ededed;
}

footer>div {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0px;
  border-top: 1px solid #dcdcdc;
}


/* 选择器1 选择器2
选择器中间有空格表示里面的元素
例如： footer div{}表示只要是在
footer里面的div，不论是多少层级
都会生效不同于>号只能有一级
*/
footer .iconfont {
  font-size: 2rem;
}

.active-icon {
  /* 激活的图标 */
  color: #08c261;
}